<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tic Tac Toe</title>
    <link rel='stylesheet' type='text/css' href="/css/theme.css"/>
  </head>

  <body>
    <h1>Welcome To Tic Tac Toe

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script src="javascript/GameStatusDisplay.js"></script>
      <script src="javascript/BoardDisplay.js"></script>
      <script src="javascript/PlayMoveOnClick.js"></script>
      <script src="javascript/LoadHandlers.js"></script>

      <table id="grid-table">
        <script>MoveHandler.success(<%= @game_state.as_json %>)</script>
      </table>

      <p id='game-status'><%= @game_state.status%></p>

  </body>
</html>
